body {
  margin-left: 80px;
  margin-right: 80px;
  background-color: #ffd9b3;
}

h1 { 
  text-align: center;
  color: #D667BA;
}

ul {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
  width: 500px;
  background-color: #000033;
}

li a {
  display: block;
  color: #ffd9b3;
  padding:8px 0 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #ffd9b3;
}

/* Change the link color on hover */
li a:hover {
    background-color: #D667BA;
    color: #ffd9b3;

}