* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  background-color: #ffcc99;
}

.header {
  background: url("../images/dragonfruit1.jpg");
  background-size: cover;
  display: flex;
}

.header h1 {
  float: left;
}

/*navigation*/

.nav {
  margin-top: 20px;
}

.article {
  margin: 5px;
}

.article aside {
  float: right;
  border-style: solid;
  border-color: #ff1aac;
  padding: 7px;
  border-radius: 7px;
  border-width: 2px;
}

.intro p {
  border: solid;
  border-color: #ff66c8;
  border-radius: 7px;
  background-color: #ff66c8;
  padding: 5px;
}