body {
  background-color: #ffcc99;
}

.header {
  background: url("../images/dragonfruit1.jpg");
  background-size: cover;
}

.header h1 {
  float: left;
}

/*navigation*/

.nav {
  margin-left: none;
  margin-top: 20px;
}

.article {
  margin: 5px;
}